body {
	background-color: #E6E7E8
}

.topnav {
	position: relative;
	overflow: hidden;
	background-color: #2E3192;

	text-align: center;
	float: center;
}
/* Style the links inside the navigation bar */
.topnav a {
	float: center;
	display: inline-block;
	color: #A7A9AC;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 15px;
}
.topnav a:hover {
	background-color: #E6E7E8;
	color: #1B75BC;
}
.topnav a.active {
	background-color: #2E3192;
	color: #A7A9AC;
}
/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
	.topnav a, .topnav-right {
		float: none;
		display: block;
	}
}

.navbar-light {
	position: relative;
	overflow: hidden;
	background-color: #A7A9AC;
	text-align: center;
	float: center;
}
.navbar-light a {
	float: center;
	display: inline-block;
	color: white;
	text-align: center;
	padding: 5px 12px;
	text-decoration: none;
	font-size: 15px;
}
.navbar-light a:hover {
	background-color: #E6E7E8;
	color: #1B75BC;
}


.navbar-light .search-container {
	position: relative;
	overflow: hidden;
	background-color: #A7A9AC;
	text-align: center;
	float: right;
}

.navbar-light .search-container button {
	float: center;
	padding: 6px;
	margin-top: 2px;
	margin-right: 10px;
	background: #A7A9AC;
	font-size: 14px;
	border: none;
	cursor: pointer;
	color: white;
}

.navbar-light .search-container button:hover {
	background: #E6E7E8;
	color: #1B75BC;
}

.topnav {
	position: relative;
	overflow: hidden;
	background-color: #2E3192;

	text-align: center;
	float: center;
}

.carousel-inner {
	text-align: center;
	img {
		margin: 0 auto;
	}
}
.carousel-caption {
	position: absolute;
	top:-10px
}
.footer {
	position: bottom;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #2E3192;
	text-align: center;
}
.footer_inner_left{
	width: 49%;
	Float: left;
	display:inline;
	text-align: center;
}
.footer_inner_right{
	width: 49%;
	Float: right;
	display:inline;
	text-align: center;
}
.fa {
	padding: 10px;
	font-size: 20px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
}
.fa:hover {
	opacity: 0.7;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-linkedin {
	background: #007bb5;
	color: white;
}

.fa-youtube {
	background: #bb0000;
	color: white;
}

.fa-instagram {
	background: #125688;
	color: white;
}
h1{
	color: #1B75BC
}
h2{
	color: #FF5110
}
h3{
	color: #FF5110
}
h4{
	color: #00AEEF
}
img{
	width:100%;
}
div.derechos{
	text-align: center;
}

span.derechos{
	color: #00AEEF;
	
}

div.col-sm-12{
background-color:#CECECE;

}
div.col-sm-4{
background-color:#CECECE;

}
#p01{
	background-color: #E6E7E8;
}
p{
	color: #00AEEF;
	font-size: 15px;
	text-align: center;
	font-weight: bold
}
div.historia{
	text-align: center;
}
#ofertas{
	color: #2E3192;
	font-size: 20px;
	text-align: center;
	font-weight: bold
}
#trabajo01{
	background-color: #E48A43;
}
#trabajo02{
	background-color: #D1CE6D;
}
#trabajo03{
	background-color: #E48A43;
}
#trabajo04{
	background-color: #D1CE6D;
}
#trabajo05{
	background-color: #E48A43;
}
#trabajo06{
	background-color: #D1CE6D;
}

